# common
.DS_Store
.env

# vscode
.vscode/*
!.vscode/settings.json.template

# Cursor
.cursor/rules/common

volumes/nginx/certs/web/*
!volumes/nginx/certs/web/.keep
volumes/nginx/certs/auth/*
!volumes/nginx/certs/auth/.keep

docs/draft/*
