x-backend: &backend
  build:
    context: .
    dockerfile: containers/backend/Dockerfile
  env_file: .env
  environment:
    DB_HOST_NAME: "backend-db"
    DB_DATABASE_NAME: "rails"
    DB_USER_NAME: "root"
    DB_PASSWORD: ""
    REDIS_URL: "redis://backend-redis:6379"
    PLAYWRIGHT_URL: "ws://backend-playwright:8888/ws"
    ALLOWED_ORIGINS: "nginx-web,dev.price-monitoring.com"
  stdin_open: true
  tty: true
  depends_on:
    backend-db:
      condition: service_healthy
    backend-redis:
      condition: service_healthy
  volumes:
    - ./volumes/backend:/app
    - backend-bundle:/usr/local/bundle
    # TODO: esbuildなどでnpmパッケージが必要になったタイミングで有効化
    # - backend-node-modules:/app/node_modules

x-mysql: &mysql
  image: mysql/mysql-server:8.0
  healthcheck:
    test: ["CMD", "mysqladmin", "ping"]
    interval: 5s
    timeout: 5s
    retries: 5
  environment:
    MYSQL_ROOT_HOST: "%"
    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
  stdin_open: true
  tty: true

x-redis: &redis
  image: "redis:latest"
  healthcheck:
    test: ["CMD", "redis-cli", "ping"]
    interval: 5s
    timeout: 5s
    retries: 5

services:
  frontend:
    build:
      context: .
      dockerfile: containers/frontend/Dockerfile
    ports:
      - 8080:3000
    environment:
      NEXT_PRIVATE_API_URL: "https://nginx-web"
      NEXT_PUBLIC_API_URL: "https://dev.price-monitoring.com"
    stdin_open: true
    tty: true
    volumes:
      - ./volumes/frontend:/app
      - frontend-node-modules:/app/node_modules

  backend:
    <<: *backend
    ports:
      - 3000:3000

  backend-batch-1:
    <<: *backend
    command: sidekiq -C config/sidekiq/crawl_process.yml

  backend-batch-2:
    <<: *backend
    command: sidekiq -C config/sidekiq/general_process.yml

  backend-batch-3:
    <<: *backend
    command: sidekiq -C config/sidekiq/crawl_process_2.yml

  spring:
    <<: *backend
    command: bundle exec spring server && tail -f /dev/null

  backend-db:
    <<: *mysql
    volumes:
      - backend-db:/var/lib/mysql

  backend-redis:
    <<: *redis
    ports:
      - "6379:6379"
    volumes:
      - "backend-redis:/data"
    command: --appendonly yes

  backend-playwright:
    build:
      context: .
      dockerfile: containers/backend_playwright/Dockerfile
    ports:
      - 8888:8888

  nginx-web:
    image: nginx:latest
    ports:
      - "127.0.0.1:443:443"
    volumes:
      - ./volumes/nginx-web/conf.d:/etc/nginx/conf.d:ro
      - ./volumes/nginx-web/certs:/etc/nginx/certs:ro
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

  nginx-auth:
    image: nginx:latest
    ports:
      - "127.0.0.2:443:443"
    volumes:
      - ./volumes/nginx-auth/conf.d:/etc/nginx/conf.d:ro
      - ./volumes/nginx-auth/certs:/etc/nginx/certs:ro
    depends_on:
      - auth-provider
    restart: unless-stopped
    networks:
      default:
        aliases:
          - dev.auth.price-monitoring.com

  auth-provider:
    build:
      context: .
      dockerfile: containers/auth_provider/Dockerfile
    env_file: .env
    environment:
      DB_HOST_NAME: "auth-provider-db"
      DB_DATABASE_NAME: "rails"
      DB_USER_NAME: "root"
      DB_PASSWORD: ""
      REDIS_URL: "redis://auth-provider-redis:6379"
      ALLOWED_ORIGINS: "nginx,dev.auth.price-monitoring.com"
      DOMAIN_NAME: "dev.auth.price-monitoring.com"
    stdin_open: true
    tty: true
    depends_on:
      auth-provider-db:
        condition: service_healthy
      auth-provider-redis:
        condition: service_healthy
    volumes:
      - ./volumes/auth_provider:/app
      - auth-provider-bundle:/usr/local/bundle
    ports:
      - 5050:3000

  auth-provider-db:
    <<: *mysql
    volumes:
      - auth-provider-db:/var/lib/mysql

  auth-provider-redis:
    <<: *redis
    volumes:
      - "auth-provider-redis:/data"
    command: --appendonly yes

volumes:
  frontend-node-modules:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/volumes/frontend/node_modules
      o: bind
  backend-bundle:
  # TODO: esbuildなどでnpmパッケージが必要になったタイミングで有効化
  # backend-node-modules:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: ${PWD}/volumes/backend/node_modules
  #     o: bind
  backend-db:
  backend-redis:
  auth-provider-bundle:
  auth-provider-db:
  auth-provider-redis:
