name: Deploy All (Production)

on:
  workflow_dispatch:

jobs:
  build_and_deploy_all:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_OAUTH_CLIENT_SECRET }}
          tags: tag:ci

      - name: Build All Docker Images
        run: |
          make build-backend tag_suffix=${{ github.sha }} environment=production
          make build-backend-playwright tag_suffix=${{ github.sha }} environment=production
          make build-frontend tag_suffix=${{ github.sha }} environment=production

      - name: Push All Docker Images
        run: |
          make push-backend tag_suffix=${{ github.sha }} environment=production
          make push-backend-playwright tag_suffix=${{ github.sha }} environment=production
          make push-frontend tag_suffix=${{ github.sha }} environment=production

      - name: Update Kubernetes Manifests
        run: |
          git config --global user.name "${{ secrets.GIT_COMMIT_USER }}"
          git config --global user.email "${{ secrets.GIT_COMMIT_EMAIL }}"
          git clone https://${{ secrets.GIT_REPO_USER }}:${{ secrets.GIT_TOKEN }}@github.com/${{ secrets.GIT_REPO_USER }}/k8s
          cd k8s/manifests/price-monitoring
          make apply-backend tag_suffix=${{ github.sha }}
          make apply-backend-playwright tag_suffix=${{ github.sha }}
          make apply-frontend tag_suffix=${{ github.sha }}
          make commit
          make push
