name: Reusable CD

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      build_command:
        required: true
        type: string
      push_command:
        required: true
        type: string
      apply_command:
        required: true
        type: string
    secrets:
      TAILSCALE_OAUTH_CLIENT_ID:
        required: true
      TAILSCALE_OAUTH_CLIENT_SECRET:
        required: true
      GIT_COMMIT_USER:
        required: true
      GIT_COMMIT_EMAIL:
        required: true
      GIT_REPO_USER:
        required: true
      GIT_TOKEN:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_OAUTH_CLIENT_SECRET }}
          tags: tag:ci

      - name: Build Docker Image
        run: ${{ inputs.build_command }}

      - name: Push Docker Image
        run: ${{ inputs.push_command }}

      - name: Update Kubernetes Manifest
        run: |
          git config --global user.name "${{ secrets.GIT_COMMIT_USER }}"
          git config --global user.email "${{ secrets.GIT_COMMIT_EMAIL }}"
          git clone https://${{ secrets.GIT_REPO_USER }}:${{ secrets.GIT_TOKEN }}@github.com/${{ secrets.GIT_REPO_USER }}/k8s
          cd ${{ inputs.service_name }}
          ${{ inputs.apply_command }}
          make commit
          make push
